//TODO - add media queries 

.wrapper {
    font-family: 'MazzardR';
    width: 100vw;
    height: 77vh;
    
    .innerWrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .rightWrapper {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            
             h1 {
                font-size: 4.374rem;
                margin-bottom: 1rem;
                color: var(--dark-blue);
                span {
                    color: var(--purple);
                }
             }  
             
             p {
                font-family: 'MazzardR';
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 1rem;
                color: var(--dark-blue);
             }

             .btnWrapper {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                margin-top: 1rem;
             }
            
        }
    }
}

.banner {
    width: 100vw;
    background-color: var(--purple);
    font-family: 'CabinetMedium';
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h1 {
        font-size: 4.374rem;
        font-weight: 700;
        color: var(--white);
        text-align: center;
        margin: 1.2rem;
        
    }
}

.tierWrapper {
    width: 100vw;
    font-family: 'CabinetBold';
    
    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--dark-blue);
        text-align: center;
        margin: 1.2rem;
        padding: 6rem;
    }
    .cardWrapper {
            width: 100vw;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 2rem;
        }
}

.iaWrapper {
    margin-top: 10rem;
    font-family: 'CabinetBold';
    width: 100vw;
    
    .text {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
        padding-left: 1rem;
        width: 40rem;
        padding-left: 7rem;//TODO - change to 12 when image is bigger
    }


    // .imgWrapper {
    // clip-path: polygon(79% 1%, 75% 26%, 0 29%, 0 100%, 99% 97%, 100% 77%, 100% 67%, 100% 0, 86% 0);
    // }

    .img {
        padding-left: 7rem;//TODO - change to 12 when image is bigger
        width: 80%; //TODO - change to 100% when image is bigger
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--dark-blue);
        text-align: center;
    }

}

